@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .login-bg {
    background-size: 60% 100%, cover;
    background-position: right center, center, center;
    @apply bg-[url('/src/assets/images/background-blur-login.png'),url('/src/assets/images/background-login.png')] bg-no-repeat;
  }

  .footer-bg {
    background-color: #d9dade;
  }

  .error-message {
    @apply text-red-500 text-sm italic;
  }

  .btn-primary {
    @apply h-11 w-full rounded-full bg-blue-500 text-white font-semibold shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}